*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Anton&family=Hind:wght@300;400;500;600;700&display=swap');

.body {
    
    background-color: lightgray; font-family:'Hind', sans-serif;
}

.header {background-color: rgb(125, 125, 125);
        display:flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        padding-bottom: 20px;

    }


.foto {width: 50%;
    margin-top: 30px;
    transition-property: all;
    transition-duration: 1s;
    text-align: right;
    padding-right:20px;
    
}

.foto:hover{opacity: 0.5;}

.foto img:hover{
    transform:scale(1.1);
    border-radius: 20px;
}

.info1 {width: 50%;
    margin-top: 30px;
    
}




.info1 .para1 {
    font-weight:700; 
    color: rgb(173, 173, 173);
    align-items: center;
    margin-top: 5px;
}

.info1 h2 {
    margin-top: 20px;
}

.info1 .para2 {
    color: white;
    margin-top: 5px;
}

.contenedor{
    display:flex;
    width: 100%;
    flex-wrap: wrap;
}

.resumen {width: 100%;
text-align: center;}